body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #edeae7;
}

a{
  text-align: center;
}

p{
  text-align: center;
  text-size-adjust: 10px;
}
title{
     color:#Fd80ff
}

h1 {
  text-align: center;
  color:#Fd80ff
    
}

h2{
  text-align: center;
  font-family: "URW Chancery L, cursive";
}

h3{
  text-align: center;
  color:#Fd80ff
}
   

header {
  text-align: center;
  border: 5px solid #00a3ff;

}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.producto {
  border: 5px solid #00a3ff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.producto img {
  max-width: 350px;
}

.carrito {
  text-align: center;
}

#carrito {
  border: 5px solid #00a3ff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

}

#pagos{
  border: 5px solid #00a3ff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

}

#contacto{
 border: 5px solid #00a3ff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

}

#lista-carrito {
  list-style: none;
}

#lista-carrito li {
  margin-bottom: 10px;
}

table,th, td{
  align: center;
  border: 5px #Fd80ff;
  border-style:groove;
margin: 0 auto;
		
}
.main-nav {
    float: center;
    border-radius: 4px;
    margin-top: 8px;
    border: solid 1px #1e2a36;
}

.main-nav, .drop-nav {
    background: pink;
padding: 0;
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav{
    text-align: center;
}
